.camera-button{
    -fx-background-color:#2B35E4;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-padding: 4px 8px;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-family: "Helvetica" , "Arial";
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-min-width:100px;

}
.add-button{
    -fx-background-color:#2B35E4;
    -fx-background-radius: 50000px;
    -fx-border-radius: 100px;
    -fx-padding: 4px 8px;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-family: "Helvetica" , "Arial";
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-min-width:60px;
    -fx-min-height:60px;

}
.multiple-choice{
    -fx-background-radius: 50px;
    -fx-background-color:#4752E8;
    -fx-max-height:33px;
    -fx-min-height:33px;

}
.choice{
    -fx-border-style: none;
    -fx-background-color:transparent;
    -fx-opacity:0.7;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-font-family: "Helvetica" , "Arial";
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 8px 15px;
    -fx-background-radius: 0px;
    -fx-min-width: 75px;
    -fx-max-width: 75px;
    -fx-text-align:center;

}
.choice.active{
    -fx-background-color:#2B35E4;
    -fx-opacity:1;

}
